<div class="card col-md-6 col-xl-3">
    <div class="card-body">
        <h3 class="card-title">Create a new drone</h3>
        <form method="post" action="/drones/create">
            <div class="form-field-set">
                <label for="name">Name: </label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-field-set">
                <label for="propellers" > Propellers: </label>
                <input class="form-control" type="text" name="propellers">
            </div>
            <div class="form-field-set">
                <label for="maxSpeed">Max. Speed: </label>
                <input class="form-control" type="text" name="maxSpeed">
            </div>
            <div class="buttons">
                <a href="#" class="card-link"><button class="btn btn-success">Add drone</button></a>
            </div>
        </form>
    </div>
</div>
