<div class="d-flex flex-column">
  
  <h2>Available drones</h2>
  <div  class="d-flex flex-row justify-content-evenly flex-wrap">
  {{#each allDrones}}
  <div style="width: 18rem"  class="d-flex flex-column ">
    
    {{!-- Bonus extra: poner imag.  --}}
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <h5 class="card-title">Name: {{this.name}}</h5>
    
    <p class="card-text"> Propellers: {{this.propellers}} <br>  Max. Speed {{this.maxSpeed}}</p>
    <a href="/drones/{{this._id}}/edit" class="btn btn-primary"> Edit drone</a>
  </div>
  {{/each}}
  </div>
  </div>

